<html>
  <head>
    <title>ROCK PAPER SCISSORS</title>
  </head>
  <body>
    <h1>ROCK PAPER SCISSORS</h1>
    <form action='/game_play' method='POST'>
      <p>
        Your Pick:
      </p>
      <input type='text' name='input'/><br/>
        <input type='submit'/>
    </form>
  </body>
</html>
