<html>
  <head>
    <title>!!!!ROCK PAPER SCISSORS!!!!!</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  </head>
  <body>
    <h1>ROCK PAPER SCISSORS</h1>
    <form action='/game_play' method='POST'>
      <p>
        Your Pick:
      </p>
      <input type='text' name='input'/><br/>
        <input type='submit'/>
    </form>
  </body>
</html>
